################################
## White list based gitignore ##
################################

# forbidden
*
.*


# allowed
!.git*
!*.md
!*.json
!*.lua
!lua
!lua/**
!*.toml

# forbidden: commitizen related files
package-lock.json
package.json
